<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Electronix Store</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <script type="text/javascript" src="~/Scripts/boxOver.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="main_container">
        <div class="top_bar">
        </div>
        <div id="header">
            <div id="logo"> <a href="#"><img src="~/Images/logo.png" alt="" border="0" width="237" height="140" /></a> </div>
            <div class="oferte_content">
                <div class="top_divider"><img src="~/Images/header_divider.png" alt="" width="1" height="164" /></div>
                <div class="oferta">
                    <div class="oferta_content">
                        <img src="~/Images/laptop.png" width="94" height="92" alt="" border="0" class="oferta_img" />
                        <div class="oferta_details">
                            <div class="oferta_title">Admin Panel</div>
                        </div>
                    </div>
                    <div class="oferta_pagination"> <span class="current">1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> </div>
                </div>
                <div class="top_divider"><img src="~/Images/header_divider.png" alt="" width="1" height="164" /></div>
            </div>
            <!-- end of oferte_content-->
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li><a href="/Admin/AdminHome" class="nav1">Home</a></li>
                    <li class="divider"></li>
                    <li><a href="/Products/AddProducts" class="nav2">Add Product</a></li>
                    <li class="divider"></li>
                    <li><a href="/Products/ViewProducts" class="nav3">Delete/Update</a></li>
                    <li class="divider"></li>
                    <li><a href="/Products/ViewProducts" class="nav4">View Inventory</a></li>
                    <li class="divider"></li>
                    <li><a href="/Admin/AdminLogin" class="nav4">Sign out</a></li>
                    <li class="divider"></li>
                </ul>

                <div class="right_menu_corner"></div>
            </div>
            <!-- end of menu tab -->
            <div style="display:table-row">
            <div class="crumb_navigation"> Navigation: <span class="current">Home</span> </div>
            <div class="left_content" style="display:table-cell">
                <div class="title_box" style="display:table-cell">Admin Functions</div>
                    <ul class="left_menu" id="Cat">
                        <li class="odd"><a href="/Products/AddProducts" name="Add">Add Product</a></li>
                        <li class="even"><a href="/Products/ViewProducts" name="Update">Update Product</a></li>
                        <li class="even"><a href="/Products/ViewProducts" name="Delete">Delete Product</a></li>
                        <li class="even"><a href="/Products/ViewProducts" name="View">View Product</a></li>
                    </ul>

            <!-- end of left content -->
            </div>
            @RenderBody()
                </div>
        <!-- end of main content -->
        <div class="footer">
            <div class="left_footer"> <img src="~/images/footer_logo.png" alt="" width="170" height="49" /> </div>
            <div class="center_footer">
                Generation21. All Rights Reserved 2008<br />
                <a href="#"><img src="~/images/csscreme.jpg" alt="csscreme" border="0" /></a><br />
                <img src="~/images/payment.gif" alt="" />
            </div>
            <div class="right_footer"> <a href="~/Views/Home/index.cshtml">@Html.ActionLink("Home", "Index", "Home")</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="~/Views/Home/contact.cshtml">@Html.ActionLink("Contact", "contact", "Home")</a> </div>
        </div>
    </div>
    <!-- end of main_container -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
